Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-exception-escape,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -modernize-use-trailing-return-type
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*[\\/]vcpkg_installed[\\/]).*[\\/](include|src|tests)[\\/].*'
FormatStyle: file
CheckOptions:
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.ConstantCase: lower_case
  modernize-use-trailing-return-type.IgnoreMacros: 'true'
